*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-body: #222;
  --color-text-light: #fff;
  --color-text-dark: #000000;

  --color-cell: #f38e8e;
  --color-border-cell: #999;

  --color-button-dark: #444;
  --color-button-light:#ebebeb;
  
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-body);
  color: var(--color-text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.board {
  display: grid;
  gap: 4px;
  margin: 20px auto;
}

.board.fixed-size{
  width: 300px;
  height: 300px;
}

.board.fullscreen{
  width: 90vw;            
  height: 90vw;
}


.cell {
  background-color: var(--color-cell);
  border: 1px solid var(--color-border);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.taken {
  cursor: not-allowed;
  color: #ccc;
}


.controls button,
.player-select button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-button-dark);
  color: var(--color-text-light);
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
}


.status {
  margin-top: 15px;
  font-size: 18px;
}

.button-sizes button{
  margin: 15px;
  padding: 7px 60px;
  border: none;
  background-color: var(--color-button-light);
  color: var(--color-text-dark);
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
}
